# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
Backend/venv/

# Environment variables


# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.dbBackend/security_debug.log
Backend/security_debug.log
Backend/security_debug.log
